<h1>Listing course_durations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>No of years</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_durations.each do |course_duration| %>
  <tr>
    <td><%= course_duration.name %></td>
    <td><%= course_duration.no_of_years %></td>
    <td><%= course_duration.description %></td>
    <td><%= link_to 'Show', course_duration %></td>
    <td><%= link_to 'Edit', edit_course_duration_path(course_duration) %></td>
    <td><%= link_to 'Destroy', course_duration, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course duration', new_course_duration_path %>
