= form_for(@institute) do |f|
  - if @institute.errors.any?
    #error_explanation
      %h2
        = pluralize(@institute.errors.count, "error")
        prohibited this institute from being saved:
      %ul
        - @institute.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :code
    %br/
    = f.text_field :code
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :grade
    %br/
    = f.text_field :grade
  .field
    = f.label :caption
    %br/
    = f.text_area :caption
  .field
    = f.label :logo
    %br/
    = f.text_field :logo

  
  = f.fields_for :address_attrs, ( @institute.address ||= Address.new ) do |address|
    .field
      = f.label :line1
      = address.text_field :line1
    %br/
    .field
      = f.label :line2
      = address.text_field :line2

    .field
      = f.label :city
      = address.collection_select :city_id, City.all, :id, :name

    .field
      = f.label :state
      = address.collection_select :state_id, State.all, :id, :name

    .field
      = f.label :country
      = address.collection_select :country_id, Country.all, :id, :name

    .field
      = f.label :pincode
      = address.text_field :pincode

    .field
      = f.label :contact_number
      = address.text_field :contact_no

    .field
      = f.label :email
      = address.text_field :email

  .field
    = f.label :contact_person
    %br/
    = f.collection_select :contact_person_id, Staff.all, :id, :first_name    

  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :phone
    %br/
    = f.text_field :phone
  .actions
    = f.submit
