%h1 Listing institutes
%table
  %tr
    %th Name
    %th Code
    %th Location
    %th Principal
    %th Phone
    %th
  - @institutes.each do |institute|
    %tr
      %td= institute.name
      %td= institute.code
      %td
        - city = ( institute.address and institute.address.city )
        =( city and city.name )  
      %td= institute.contact_person.first_name if institute.contact_person 
      %td= institute.phone
      %td= link_to 'Edit', edit_institute_path(institute), :remote => true, :class => 'edit-link'
      %td= link_to 'Destroy', institute, confirm: 'Are you sure?', method: :delete
%br/

%div= link_to 'New Institute', new_institute_path, :remote => true, :class => 'new-link'
  
#form-updator
  = render :partial => 'form'
  
- if @institute.errors.any?
  :javascript
    jQuery(document).ready(function() {
      $('#form-updator').show();
    });
    
    
  

