%h1 Listing institutes
%table
  %tr
    %th Name
    %th Code
    %th Description
    %th Grade
    %th Caption
    %th Logo
    %th Address
    %th Contact person
    %th Email
    %th Phone
    %th
    %th
    %th
  - @institutes.each do |institute|
    %tr
      %td= institute.name
      %td= institute.code
      %td= institute.description
      %td= institute.grade
      %td= institute.caption
      %td= institute.logo
      %td= institute.address
      %td= institute.contact_person
      %td= institute.email
      %td= institute.phone
      %td= link_to 'Show', institute
      %td= link_to 'Edit', edit_institute_path(institute)
      %td= link_to 'Destroy', institute, confirm: 'Are you sure?', method: :delete
%br/

#js-button New Institute

#new-institute
  = render :partial => 'form'

- if @institute.errors.any?
  :javascript
    jQuery(document).ready(function() {
      $('#new-institute').show();
    });
  

