<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institute.name %>
</p>

<p>
  <b>Code:</b>
  <%= @institute.code %>
</p>

<p>
  <b>Description:</b>
  <%= @institute.description %>
</p>

<p>
  <b>Grade:</b>
  <%= @institute.grade %>
</p>

<p>
  <b>Caption:</b>
  <%= @institute.caption %>
</p>

<p>
  <b>Logo:</b>
  <%= @institute.logo %>
</p>

<p>
  <b>Address:</b>
  <%= @institute.address %>
</p>

<p>
  <b>Contact person:</b>
  <%= @institute.contact_person %>
</p>

<p>
  <b>Email:</b>
  <%= @institute.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @institute.phone %>
</p>


<%= link_to 'Edit', edit_institute_path(@institute) %> |
<%= link_to 'Back', institutes_path %>
