<%= form_for(@course_subject) do |f| %>
  <% if @course_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_subject.errors.count, "error") %> prohibited this course_subject from being saved:</h2>

      <ul>
      <% @course_subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :credits %><br />
    <%= f.number_field :credits %>
  </div>
  <div class="field">
    <%= f.label :specific_code %><br />
    <%= f.text_field :specific_code %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :semester %><br />
    <%= f.number_field :semester %>
  </div>
  <div class="field">
    <%= f.label :subject_category %><br />
    <%= f.text_field :subject_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
