<h1>Listing course_subjects</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Subject</th>
    <th>Credits</th>
    <th>Specific code</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Subject category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_subjects.each do |course_subject| %>
  <tr>
    <td><%= course_subject.course %></td>
    <td><%= course_subject.subject %></td>
    <td><%= course_subject.credits %></td>
    <td><%= course_subject.specific_code %></td>
    <td><%= course_subject.year %></td>
    <td><%= course_subject.semester %></td>
    <td><%= course_subject.subject_category %></td>
    <td><%= link_to 'Show', course_subject %></td>
    <td><%= link_to 'Edit', edit_course_subject_path(course_subject) %></td>
    <td><%= link_to 'Destroy', course_subject, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course subject', new_course_subject_path %>
