<h1>Listing users</h1>

<table>
  <tr>
    <th>Registration no</th>
    <th>Title</th>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Official dob</th>
    <th>Personnel dob</th>
    <th>Nationality</th>
    <th>Religion</th>
    <th>Category</th>
    <th>Identification</th>
    <th>Blood group</th>
    <th>Known languages</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.registration_no %></td>
    <td><%= user.title %></td>
    <td><%= user.first_name %></td>
    <td><%= user.middle_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.gender %></td>
    <td><%= user.official_dob %></td>
    <td><%= user.personnel_dob %></td>
    <td><%= user.nationality %></td>
    <td><%= user.religion %></td>
    <td><%= user.category %></td>
    <td><%= user.identification %></td>
    <td><%= user.blood_group %></td>
    <td><%= user.known_languages %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
