<h1>Listing subject_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subject_categories.each do |subject_category| %>
  <tr>
    <td><%= subject_category.name %></td>
    <td><%= subject_category.description %></td>
    <td><%= link_to 'Show', subject_category %></td>
    <td><%= link_to 'Edit', edit_subject_category_path(subject_category) %></td>
    <td><%= link_to 'Destroy', subject_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subject category', new_subject_category_path %>
