<h1>Listing subjects</h1>

<table>
  <tr>
  	<th>Department Name </th>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th>Contact person</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
  	<td><%= subject.department.name%><td>
    <td><%= subject.name %></td>
    <td><%= subject.code %></td>
    <td><%= subject.description %></td>
    <td><%= subject.contact_person %></td>
    <td><%#= subject.department %></td>
    <td><%= link_to 'Show', subject %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subject', new_subject_path %>
