<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Code:</b>
  <%= @course.code %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>No of years:</b>
  <%= @course.no_of_years %>
</p>

<p>
  <b>Contact person:</b>
  <%= @course.contact_person %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
