<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Remarks:</b>
  <%= @country.remarks %>
</p>

<p>
  <b>Status:</b>
  <%= @country.status %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
