<h1>Listing cities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Remarks</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td><%= city.state.name %></td>
    <td><%= city.remarks %></td>
    <td><%= city.status %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
