<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>State:</b>
  <%= @city.state.name %>
</p>

<p>
  <b>Remarks:</b>
  <%= @city.remarks %>
</p>

<p>
  <b>Status:</b>
  <%= @city.status %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
